/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

@font-face {
  font-family: customFont;
  src: url(../../assets/font/SpaceGrotesk-Medium.ttf); }

body {
  font-family: customFont, sans-serif;
  background-image: url("../assets/images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: 100vw;
  display: flex; }
  @media only screen and (min-width: 50em) {
    body {
      background-size: contain;
      justify-content: center;
      align-items: center; } }
  @media only screen and (min-width: 56.25em) {
    body {
      background-image: url("../assets/images/bg-main-desktop.png"); } }
  @media only screen and (min-width: 93.75em) {
    body {
      background-size: 70vh; } }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem; }

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #21092f;
  font-size: 0.813rem;
  letter-spacing: 1.5px;
  text-transform: uppercase; }

input {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid #dedddf;
  border-radius: 10px; }
  input::placeholder, input[type='text'] {
    font-size: 1.125rem; }
  input::placeholder {
    color: #8e8593; }
  input[type='text'] {
    color: #21092f; }
  input:focus {
    border: 1px solid #5f0594; }

fieldset {
  border: none;
  padding: 0;
  width: 60%;
  display: flex;
  gap: 0.5rem; }

legend {
  color: #21092f;
  font-size: 0.813rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 0.5rem; }

button {
  width: 100%;
  font-size: 1.125rem;
  color: white;
  background-color: #21092f;
  margin-top: 1rem;
  padding: 0.8rem 0;
  text-transform: capitalize;
  border: none;
  border-radius: 8px;
  cursor: pointer; }

.main {
  width: 100%;
  margin-top: 2rem;
  max-width: 56.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; }
  @media only screen and (min-width: 37.5em) {
    .main {
      gap: 4rem; } }
  @media only screen and (min-width: 50em) {
    .main {
      gap: 10rem; } }
  @media only screen and (min-width: 56.25em) {
    .main {
      margin-top: 0;
      gap: 7rem;
      justify-content: space-around;
      flex-direction: row; } }
  @media only screen and (min-width: 87.5em) {
    .main {
      gap: 0;
      max-width: 75rem; } }

.main__card {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center; }
  @media only screen and (min-width: 50em) {
    .main__card {
      justify-content: center; } }
  @media only screen and (min-width: 56.25em) {
    .main__card {
      justify-content: space-between;
      flex-direction: column;
      gap: 1.5rem; } }
  @media only screen and (min-width: 87.5em) {
    .main__card {
      width: 50%; } }

.main__card__front {
  position: relative;
  width: 80%;
  margin-top: -70px;
  margin-left: -45px;
  z-index: 10; }
  @media only screen and (min-width: 37.5em) {
    .main__card__front {
      width: 60%;
      margin-top: -95px; } }
  @media only screen and (min-width: 50em) {
    .main__card__front {
      width: 50%;
      margin-left: -120px; } }
  @media only screen and (min-width: 56.25em) {
    .main__card__front {
      width: 100%;
      margin: 0 -10px 0 0; } }
  @media only screen and (min-width: 75em) {
    .main__card__front {
      margin: 0 200px 0 0;
      z-index: 0; } }
  @media only screen and (min-width: 87.5em) {
    .main__card__front {
      width: 75%; } }
  @media only screen and (min-width: 93.75em) {
    .main__card__front {
      margin: 0 250px 0 0; } }

.main__card__back {
  position: relative;
  width: 80%;
  margin-right: -45px; }
  @media only screen and (min-width: 37.5em) {
    .main__card__back {
      width: 60%;
      margin-right: -105px; } }
  @media only screen and (min-width: 50em) {
    .main__card__back {
      width: 50%;
      margin-right: -120px; } }
  @media only screen and (min-width: 56.25em) {
    .main__card__back {
      width: 100%;
      margin: 0 -60px 0 0; } }
  @media only screen and (min-width: 75em) {
    .main__card__back {
      margin: 0 0 0 0; } }
  @media only screen and (min-width: 87.5em) {
    .main__card__back {
      width: 75%; } }
  @media only screen and (min-width: 93.75em) {
    .main__card__back {
      margin: 0 100px 0 0; } }

.main__thumbnail {
  box-shadow: 0 1rem 1.5rem rgba(33, 9, 47, 0.2); }

.main__card__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding: 1.5rem; }

.main__card__logo {
  width: 20%; }

.main__details {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem; }

.main__card__number {
  font-size: 1.9rem;
  letter-spacing: 2px;
  font-weight: 300; }

.main__card__span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px; }

.main__forms {
  width: 90%; }
  @media only screen and (min-width: 37.5em) {
    .main__forms {
      width: 70%;
      padding: 1rem; } }
  @media only screen and (min-width: 50em) {
    .main__forms {
      width: 60%; } }
  @media only screen and (min-width: 56.25em) {
    .main__forms {
      width: 100%; } }
  @media only screen and (min-width: 87.5em) {
    .main__forms {
      width: 35%; } }

.main__control {
  position: relative; }
  .main__control.error input {
    border: 1px solid #ff5252; }
  .main__control.success input {
    border: 1px solid #dedddf; }
  .main__control small {
    color: #ff5252;
    position: absolute;
    bottom: -25px;
    left: 0;
    visibility: hidden; }
  .main__control.error small {
    font-size: 0.75rem;
    visibility: visible; }

.main__fields {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem; }
  @media only screen and (min-width: 87.5em) {
    .main__fields {
      gap: 0.5rem; } }

.main__control__dates {
  display: flex;
  flex-direction: row;
  width: 100%; }
  @media only screen and (min-width: 37.5em) {
    .main__control__dates {
      width: 50%; } }
  @media only screen and (min-width: 93.75em) {
    .main__control__dates {
      width: 60%; } }
