form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: $color-tertiary-dark;
  font-size: var(--font-size-xs);
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

input {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid $color-secondary-dark;
  border-radius: 10px;

  &::placeholder,
  &[type='text'] {
    font-size: 1.125rem;
  }

  &::placeholder {
    color: $color-tertiary-light;
  }

  &[type='text'] {
    color: $color-tertiary-dark;
  }

  &:focus-within {
    border: 1px solid $color-primary-dark;
  }
}

fieldset {
  border: none;
  padding: 0;
  // width: 60%;

  display: flex;
  gap: 0.5rem;

  @include respond(phone-xs) {
    width: 90%;
  }

  @include respond(phone) {
    width: 60%;
  }
}

legend {
  color: $color-tertiary-dark;
  font-size: var(--font-size-xs);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

button {
  width: 100%;
  font-size: 1.125rem;
  color: $color-secondary-light;
  background-color: $color-tertiary-dark;
  margin-top: 1rem;
  padding: 0.8rem 0;
  text-transform: capitalize;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
