.main {
  // border: 1px solid red;
  width: 100%;
  margin-top: 2rem;
  max-width: 56.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @include respond(phone) {
    gap: 4rem;
  }

  @include respond(tablet) {
    // justify-content: space-around;
    gap: 10rem;
    // margin-top: 0;
  }

  @include respond(laptop-portrait) {
    margin-top: 0;
    gap: 7rem;
    justify-content: space-around;
    flex-direction: row;
  }

  @include respond(desktop) {
    // margin: 0 250px 0 0;
    gap: 0;
    max-width: 75rem;
  }
}

.main__card {
  // border: 1px solid blue;
  width: 100%;
  // margin-top: 2rem;
  // position: relative;
  display: flex;
  flex-direction: column-reverse;
  // justify-content: center;
  align-items: center;
  // gap: 1.5rem;

  @include respond(tablet) {
    // margin-right: -120px;
    justify-content: center;
  }

  @include respond(laptop-portrait) {
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5rem;
  }

  @include respond(desktop) {
    // margin: 0 250px 0 0;
    width: 50%;
  }
}

.main__card__front {
  // width: 100%; // larger screen
  // margin-left: -220px;
  position: relative;
  width: 80%;
  margin-top: -70px;
  margin-left: -45px;
  z-index: 10;

  @include respond(phone) {
    width: 60%;
    margin-top: -95px;
  }

  @include respond(tablet) {
    width: 50%;
    margin-left: -120px;
  }

  @include respond(laptop-portrait) {
    width: 100%;
    margin: 0 -10px 0 0;
  }

  @include respond(laptop-landscape) {
    margin: 0 200px 0 0;
    z-index: 0;
  }

  @include respond(desktop) {
    // margin: 0 250px 0 0;
    width: 75%;
  }

  @include respond(desktop-m) {
    margin: 0 250px 0 0;
  }
}

.main__card__back {
  position: relative;
  width: 80%;
  margin-right: -45px;
  // border: 1px solid lime;
  // width: 100%; // larger screen
  @include respond(phone) {
    width: 60%;
    margin-right: -105px;
  }

  @include respond(tablet) {
    width: 50%;
    margin-right: -120px;
  }

  @include respond(laptop-portrait) {
    width: 100%;
    margin: 0 -60px 0 0;
  }

  @include respond(laptop-landscape) {
    margin: 0 0 0 0;
  }

  @include respond(desktop) {
    width: 75%;
  }

  @include respond(desktop-m) {
    margin: 0 100px 0 0;
  }
}

.main__thumbnail {
  box-shadow: 0 1rem 1.5rem rgba($color-tertiary-dark, 0.2);
}

.main__card__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding: 1.5rem;
  // border: 1px solid lime;
}

.main__card__logo {
  width: 20%;
}

.main__details {
  color: $color-secondary-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.main__card__number {
  font-size: 1.9rem;
  letter-spacing: 2px;
  font-weight: 300;
}

.main__card__span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main__forms {
  width: 90%;
  // border: 1px solid lime;
  // padding: 1rem;

  @include respond(phone) {
    width: 70%;
    padding: 1rem;
  }

  @include respond(tablet) {
    width: 60%;
  }

  @include respond(laptop-portrait) {
    width: 100%;
    // padding: 1.5rem;
  }

  @include respond(desktop) {
    // margin: 0 250px 0 0;
    width: 35%;
  }
}

.main__control {
  // border: 1px solid yellow;
  position: relative;

  // &.error {
  //   margin-bottom: 1rem;
  // }

  &.error input {
    border: 1px solid $error;
  }

  &.success input {
    border: 1px solid $color-secondary-dark;
  }

  & small {
    color: $error;
    position: absolute;
    bottom: -25px;
    left: 0;
    visibility: hidden;
  }

  &.error small {
    font-size: 0.75rem;
    visibility: visible;
  }
}

.main__fields {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;

  @include respond(desktop) {
    gap: 0.5rem;
  }
}

.main__control__dates {
  // border: 1px solid lime;

  // TODO
  display: flex;
  flex-direction: row;
  width: 100%;
  // gap: 0.5rem;
  // width: 50%; // larger screeen
  @include respond(phone) {
    width: 50%;
  }

  @include respond(desktop-m) {
    width: 60%;
  }
}
